.Header {
  padding: 1rem;
  margin: 0 auto;
  font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Container {
padding: 0 0.5rem;
}

.Footer {
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
